feign:
  client:
    config:
      default:
        loggerLevel: full
        requestInterceptors:
          - com.tuling.tulingmall.ordercurr.feignapi.interceptor.HeaderInterceptor
        readTimeout: 3000
        connectTimeout: 3000
mybatis:
  configuration:
    map-underscore-to-camel-case: true

#支付-当面付qrcode存储与访问路径设置
#trade:
#  zhifu:
#    qrcode:
#      storePath: D:/alipay/qr-code
#      paySuccessCallBack: http://roykingw.free.idcfengye.com/order/paySuccess
#分库分表配置
#spring:
#  shardingsphere:
#    datasource:
#      names: ds-master
#      ds-master:
#        type: com.alibaba.druid.pool.DruidDataSource
#        driver-class-name: com.mysql.cj.jdbc.Driver
#        url: jdbc:mysql://192.168.65.223:3306/tl_mall_order?serverTimezone=UTC&useSSL=false&useUnicode=true&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
#        initialSize: 5
#        minIdle: 10
#        maxActive: 30
#        validationQuery: SELECT 1 FROM DUAL
#        username: tlmall
#        password: tlmall123
#      ds-slave:
#        type: com.alibaba.druid.pool.DruidDataSource
#        driver-class-name: com.mysql.cj.jdbc.Driver
#        url: jdbc:mysql://192.168.65.137:3306/tl_mall_order?serverTimezone=UTC&useSSL=false&useUnicode=true&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
#        initialSize: 5
#        minIdle: 10
#        maxActive: 30
#        validationQuery: SELECT 1 FROM DUAL
#        username: tlmall
#        password: tlmall123
#    rules:
#      readwrite-splitting:
#        data-sources:
#          ds_ms:
#            static-strategy:
#              write-data-source-name: ds-master
#              read-data-source-names[0]: ds-slave
#            load-balancer-name: ds_ms_lb
#        load-balancers:
#          ds_ms_lb:
#            type: ROUND_ROBIN
#      sharding:
#        tables:
#          oms_order:
#            actual-data-nodes: ds_ms.oms_order_$->{0..31}
#            table-strategy:
#              complex:
#                sharding-columns: id,member_id
#                sharding-algorithm-name: oms_order_table_alg
#          oms_order_item:
#            actual-data-nodes: ds_ms.oms_order_item_$->{0..31}
#            table-strategy:
#              complex:
#                sharding-columns: order_id
#                sharding-algorithm-name: oms_order_item_table_alg
#        sharding-algorithms:
#          oms_order_table_alg:
#            type: CLASS_BASED
#            props:
#              algorithmClassName: com.tuling.tulingmall.ordercurr.sharding.OmsOrderShardingAlgorithm
#              strategy: COMPLEX
#          oms_order_item_table_alg:
#            type: CLASS_BASED
#            props:
#              algorithmClassName: com.tuling.tulingmall.ordercurr.sharding.OmsOrderItemShardingAlgorithm
#              strategy: COMPLEX
#        binding-tables:
#          - oms_order,oms_order_item
#        broadcast-tables:
#          - oms_company_address
#          - oms_order_operate_history
#          - oms_order_return_apply
#          - oms_order_return_reason
#          - oms_order_setting
#    props:
#      sql-show: true
